:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    background-color: var(--Light-Gray);
}

.main-content {
    min-width: 45%;
    max-width: 50%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    overflow: hidden;
}
.main-content .box-one {
    flex-basis: 100%;
    background-color: white;
}
.main-content .box-two {
    flex-basis: 50%;
    background-color: var(--Cyan);
}
.main-content .box-three {
    flex-basis: 50%;
    background-color: #4ABEBD;
}

.main-content .box {
    padding: 35px;
    color: var(--Light-Gray);
}

.main-content .box-one h1 {
    color: var(--Cyan);
    font-size: 23px;
    margin-bottom: 20px;
    font-weight: bold;
}
.main-content .box-one h2 {
    color: var(--Bright-Yellow);
    font-size: 17px;
}
.main-content .box-one p {
    color: var(--Grayish-Blue);
    margin-top: 15px;
    line-height: 1.6;
}

.main-content .box-two h3 {
    margin-bottom: 15px;
}
.main-content .box-two .spans {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.main-content .box-two span {
    font-size: 30px;
    font-weight: bold;
}
.main-content .box-two .span-text {
    font-size: 16px;
    color: #75c6c5;
}
.main-content .box-two button {
    width: 100%;
    margin-top: 20px;
    padding: 14px 20px ;
    background-color: var(--Bright-Yellow);
    border: none;
    color: white;
    border-radius: 4px;
}

.main-content .box-three p {
    color: rgb(172, 220, 219);
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.4;
}

@media (max-width: 400px) {
    body {
        padding: 10px 0;
    }
    .main-content {
        max-width: 90%;
        margin-bottom: 20px;
    }
    .main-content .box-two , .main-content .box-three {
        flex-basis: 100%;
    }
}
@media (max-width: 750px) {
    body {
        padding: 10px 0;
        text-align: center;
    }
    .main-content {
        max-width: 90%;
        margin-bottom: 20px;
    }
    .main-content .box-two , .main-content .box-three {
        flex-basis: 100%;
    }
}